@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.responsive {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.responsive li {
  display: block;
  margin-bottom: 6px;
}
