@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 35px;
  height: 5px;
  background-color: #f25c05;
  margin: 3px;
}

@media screen and (max-width: 410px) {
  .menu.open {
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
  }
}
